.input {
    display: flex;
    flex-direction: column;
}

.input__label {
    margin-bottom: 10px;
    color: var(--font-color);
    text-transform: uppercase;
}

.input__field {
    color: var(--font-color);
    background: transparent;
    border: 1px solid var(--main);
    box-shadow: 0 0 5px var(--main);
    border-radius: 4px;
    padding: 10px;
    transition: all 0.2s;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px var(--focus);
        border-color: var(--focus);
    }
}

.input__desc {
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    min-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &_hidden {
        visibility: hidden;
    }
}

.input_warn {
    .input__field {
        box-shadow: 0 0 5px var(--warn);
        border-color: var(--warn);
    }

    .input__desc {
        color: var(--warn);
    }
}
