.game-page {
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    background: url("images/game-bg.png") center/ cover no-repeat;
}

.game-page__fullscreen-btn {
    position: absolute;
    top: 80px;
    left: 20px;
}
