.fullscreen-button {
    width: 50px;
    height: 50px;
    font-size: 0;

    &_open {
        background: url('images/open-full.svg') center/contain no-repeat;
    }

    &_close {
        background: url('images/close-full.svg') center/contain no-repeat;
    }
}
