.button {
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--main);
    box-shadow: 0 5px 14px rgba(var(--main-rgb), 0.4), inset 0 -9px 24px 1px rgba(var(--main-rgb), 0.68);
    text-transform: uppercase;
    border-radius: 8px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--font-color);
    transition: all 0.2s;

    &_small {
        padding: 14px;
    }

    &_large {
        padding: 25px;
        font-style: normal;
        font-weight: bold;
    }

    &_transparent {
        background: transparent;

        &:focus,
        &:hover {
            outline: none;
            border: 1px solid var(--focus);
            box-shadow: 0 5px 14px rgba(var(--focus-rgb), 0.4), inset 0 -9px 24px 1px rgba(var(--focus-rgb), 0.68);
        }
    }

    &_filled {
        background: linear-gradient(180deg, var(--main) 0%, var(--dark-pink) 100%);
    }
}
