.delimiter {
    width:100%;
    margin:40px;
    background: transparent;
    border: 1px solid var(--focus);
    box-shadow: 0 5px 14px rgba(var(--focus-rgb), 0.4), inset 0 -9px 24px 1px rgba(var(--focus-rgb), 0.68);

}
