.link-button {
    font-size: 14px;
    color: var(--link);
    text-transform: uppercase;
    text-shadow: 0 3px 10px rgba(var(--link-rgb), 0.4);
    text-decoration: underline;
    background: transparent;

    &:focus,
    &:hover {
        outline: none;
        opacity: 0.6;
    }
}
