*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input[type="checkbox"],
select,
input[type="checked"],
input[type="time"],
input[type="date"],
input[type="radio"],
textarea {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
