.wrapper {
    background: url("../../images/login-bg.png") center/cover no-repeat;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;

h1 {
    text-align: center;
    color: var(--main);
}

img {
    width: 200px;
}
}
