.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: rgb(var(--font-color));
    text-shadow: 3px 2px 0 rgb(var(--main));
    text-transform: uppercase;
}
