.leaderboard-page {
    max-width: 710px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 20px;
}

.leaderboard-page__header {
    margin-bottom: 30px;
}

.leaderboard-page .leaderboard-page__content {
    flex-grow: 1;
    padding-top: 30px;
    border-radius: 15px;
}
